body {
  background: #000;
  max-height: 100vh;
  margin: 0;
}


#simulator{
  margin: 0 auto;
  width: 100vw;
  height: 95vh;
  background: url("../images/star_tile.jpg");
}

.footer {
  width: 100%;
  height: 4.5vh;
  background: #fff;
  margin: 0 auto;
}

.author {
  color: #333;
  font-size: .8em;
  float: right;
  margin-right: 1em;
  margin-top: .5em;
  text-decoration: none;
}

.counter{
  font-size: .8em;
  margin: 0 auto;
  padding-top: .5em;
  display: inline-block;
  width: 300px;
}

.instructions {
  font-size: .8em;
  margin: 0 auto;
  padding-left: 10em;
  padding-top: .5em;
  display: inline-block;
  float: left;
  width: 300px;
  color: red;
}